In [4]:
valor_a = 10
print(type(valor_a))
print(valor_a)

<class 'int'>
10

In [7]:
print(type(2))
print(type(2.0))
print(type("2"))
print(type('2'))
print(type(True))
print(type(False))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [11]:
valor_uno = 2
valor_dos = 2
valor_suma = valor_uno + valor_dos
print(valor_suma)

holasaludos

In [22]:
## Calculadora simple
numero_inicial = float(input("Dame un número: "))
print(numero_inicial)
numero_final = float(input("Dame otro número: "))
print(numero_final)
print(numero_inicial * numero_final)

Dame un número: 2
2.0
Dame otro número: 3.75
3.75
7.5

In [29]:
# injecting variables using the format method

name = 'John'

print('Hello {}'.format(name))

print('Hello {}, you are {} years old {}!'.format(name, 28, " :) "))

estado = "Feliz :)"

tipo = type("hola")

print(f"soy {name} y soy {tipo}")

Hello John
Hello John, you are 28 years old  :) !
soy John y soy <class 'str'>

SyntaxError: can't assign to operator (<ipython-input-30-f06037dfddc4>, line 2)